.song-container {
    /*background: lawngreen;*/
    height: 40vh;
    max-height: 318px;
    /*width: 40vw;*/

    /*min-height: 30vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.song-container img {

    /*width: 25%;*/

    border-radius: 50%;
    overflow: hidden;
    margin: 0.5rem;
}
.song-container h2 {
    /*padding: 3rem 1rem 1rem 1rem;*/

    /*background: #0040ff;*/
    font-family: 'Marcellus', serif;
    color: #435b67;
}
.song-container h3 {
    /*background: red;*/
    font-family: 'Marcellus', serif;
    font-size: 17px;
    color: #435b67;
}

@media screen and (max-width: 600px) {
    .song-container img {
        width: 75%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

    /*For iPad and frieends*/

    .song-container img {
        width: 50%;
    }

}
