/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/

.contact__container {
    padding-top: 50px;

    /*background-color: darkred;*/
}

.contact__text {
    padding-bottom: 30px;
}

.contact__text h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 22px;
    /*color: #111;*/
    color: #000000;
    font-family: 'Cinzel', serif;
}

.contact__text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 1.0;
}

.row {
    /*background-color: darkred;*/

    /*background-image: url('./assets/vidz__3.jpeg');*/
    /*background-size: cover;*/
    /*background-position:center center;*/

    display: flex;
}

.contact__infos {
    background-image: url('./assets/vidz__3.jpeg');
    background-size: cover;
    background-position:center center;

    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(60%);*/

    padding-left: 15vw;
    /*background-color: #5fc328;*/

    /*padding-right: 3vw;*/

    display: flex;
    justify-content: center;
    align-items: center;

    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/

    color: white;
}

.infos__wrapper {
    /*background-color: #a435e9;*/

    padding-top: 30px;


}

.contactBox {
    display: flex;
}


.icon {
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /*background: #fff;*/
    border: 3px solid #ffffff;
    min-width: 60px;
    height: 60px;
}

.icon__maps {
    background-image: url('./assets/maps__3.png');
    background-size: cover;
    background-position:center center;

    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 50%;*/
    /*background: #ca0707;*/
    /*border: 3px solid #ffffff;*/
    min-width: 55px;
    height: 85px;

    /*transform: rotate(-330deg);*/
}

.icon__phone {
    background-image: url('./assets/phone__2.png');
    background-size: cover;
    background-position:center center;

    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 50%;*/
    /*background: #ca0707;*/
    /*border: 3px solid #ffffff;*/
    min-width: 70px;
    height: 55px;
}

.text {
    text-align: start;
    margin-left: 20px;
    line-height: 1;
    padding-bottom: 35px;
    font-family: 'Montserrat', sans-serif;
}

.text h4 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.text p {
    font-size: 16px;
    font-weight: bold;
    /*line-height: 1;*/
}

.contact__form {
    /*background-image: url('./assets/Contact-Us-Header.jpeg');*/
    /*background-size: cover;*/
    /*background-position:center center;*/

    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%);*/

    /*background-color: #f8f8f8;*/

    padding-right: 15vw;
    padding-left: 3vw;

    /*background-color: #2fcbbe;*/

    display: flex;
    justify-content: start;
    align-items: center;

    /*font-family: 'Montserrat', sans-serif;*/
    /*color: #ffffff;*/
    color: #000000;
    font-size: 16px;
    font-weight: 800;


}

.form {
    display: block;

    padding-bottom: 15px;

    /*background-color: #c82767;*/
}

.form__text h4 {
    /*margin: 10px 0 30px 0;*/
    /*letter-spacing: 10px;*/
    font-size: 22px;
    color: #111;
    /*color: #ffffff;*/
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

.input {
    width: 20vw;

    max-width: 288px;
    min-width: 285px;

    /*height: 2.7vw;*/
    /*max-height: 43px;*/
    /*min-height: 40px;*/

    height: 35px;

    overflow: hidden;
    border-radius: 20px;
    /*padding-left: 15px;*/
    border: 1px solid black;
    /*border: 2px solid #ffffff;*/

    font-size: 15px;

    transition-timing-function: ease-in;
    transition: all 0.5s;

    background: none;
    /*color: #ffffff;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.input:hover {
    padding-left: 20px;
    border: 1px solid black;
    /*border: 2px solid #ffffff;*/

}

.textArea {
    /*width: 20vw;*/
    /*max-width: 21vw;*/
    /*height: 30vw;*/
    overflow: hidden;
    font-size: 15px;
    color: #000000;

    border-radius: 20px;
    padding-left: 15px;
    border: 1px solid black;
    /*border: 2px solid  #ffffff;*/

    /*color: #ffffff;*/
    font-family: 'Montserrat', sans-serif;
    background: none;
    /*background-color: rgba(255,255,255,0.24);*/

    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.textArea:hover {
    padding-left: 20px;
    border: 1px solid black;
    /*border: 2px solid #ffffff;*/

}

/*For your example. Your teaching. You’ll be my. everything. I go love you forever. You’ll be my number one*/

.textArea:focus {
    border-radius: 20px;
    padding-left: 20px;
    border: 1px solid black;
    /*border: 2px solid #ea0606;*/

}

.textArea::selection {
    border-radius: 20px;
    padding-left: 20px;
    /*border: 1px solid black;*/
    border: 2px solid #fde258;

}


.submitBtn {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    /*color: #ffffff;*/
    border: 1px solid black;
    /*border: 2px solid  #ffffff;*/

    /*background-color: darkblue;*/
    background: none;

    font-size: 16px;
    font-weight: bold;

    width: 8vw;
    max-width: 120px;
    min-width: 115px;

    height: 2.5vw;
    max-height: 42px;
    min-height: 37px;

    border-radius: 20px;
    /*padding-bottom: 10px;*/

    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.submitBtn:hover {
    /*color: #ffffff;*/
    /*border: 2px solid  #ffffff;*/
    /*background: none;*/

    color: #ffffff;
    border: 1px solid #000000;
    background: black;
}

.submitBtn:focus {
    /*color: #ffffff;*/
    /*border: 2px solid #ffffff;*/
    /*background: none;*/

    color: #000000;
    border: 1px solid #000000;
    background: none;
}



@media screen and (max-width: 480px) {

    .contact__infos {
        /*width: 100vw;*/

        background-image: url('./assets/vidz__3.jpeg');
        background-size: cover;
        background-position:center center;

        /*-webkit-filter: grayscale(90%);*/
        /*filter: grayscale(60%);*/

        padding-left: 5vw;
        /*background-color: #5fc328;*/

        padding-right: 5vw;

        display: flex;
        justify-content: center;
        align-items: center;

        /*padding-top: 20px;*/
        /*padding-bottom: 20px;*/

        color: white;
    }

    .contact__form {

        /*width: 100vw;*/
        padding-right: 7vw;
        padding-left: 7vw;

        padding-top: 6vw;

        /*background-color: #2fcbbe;*/

    }

    .form {
        display: block;
        width: 100vw;

        padding-top: 15px;
        padding-bottom: 15px;
        /*background-color: #c82767;*/
    }

    .input {
        width: 85vw;

        max-width: 350px;
        min-width: 295px;

        /*height: 2.7vw;*/
        /*max-height: 43px;*/
        /*min-height: 40px;*/

        height: 35px;

        overflow: hidden;
        border-radius: 20px;
        padding-left: 12px;
        border: 1px solid black;
        /*border: 2px solid #ffffff;*/

        font-size: 15px;

        transition-timing-function: ease-in;
        transition: all 0.5s;

        background: none;
        /*color: #ffffff;*/
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }


}


