.section__container {
    height: 100vh;
    /*max-height: 1100px;*/
    position: relative;
    overflow: hidden;

}

/*.hero__wrapper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    !*margin-top: 10px;*!*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    overflow: hidden;*/
/*    position: relative;*/

/*}*/

.hero__wrapper {
    /*width: 100%;*/
    /*height: 100%;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    /*margin-top: 10px;*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*position: relative;*/

    /*background: darkred;*/

    background-image: url('https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    /*background-image: url('./assets/img__2.jpg');*/

    background-size: cover;
    background-position: center center;

    /*filter: grayscale(90%);*/
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    filter: grayscale(90%);

}

.hero__content {
    position: relative;
    top: 60px;
    left: 05px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: calc(100% - 100px);
    color: #fff;

}

.hero__content h1 {
    color: #ffffff;
    /*font-size: clamp(1rem, 8vw, 2rem);*/
    font-size: 40px;

    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Cormorant SC', serif;

    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    text-align: left;
    margin-bottom: 0.8rem;
    line-height: 1.1;
}

.hero__content p {
    margin-bottom: 1.2rem;
    text-align: left;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    line-height: initial;

}

.hero__button {
    background: black;
    white-space: nowrap;
    outline: none;
    border: none;
    min-width: 100px;
    max-width: 200px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 42px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    /*border: none;*/
    /*background: rgb(251,33,117);*/
    /*background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);*/
    /*color: #fff;*/
    /*overflow: hidden;*/

}

.hero__button:hover {
    /*transform: translateY() (-2px);*/
}

/*.btn-5 {*/
/*    width: 130px;*/
/*    height: 40px;*/
/*    line-height: 42px;*/
/*    padding: 0;*/
/*    border: none;*/
/*    background: rgb(255,27,0);*/
/*    background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);*/
/*}*/
/*.btn-5:hover {*/
/*    color: #f0094a;*/
/*    background: transparent;*/
/*    box-shadow:none;*/
/*}*/
/*.btn-5:before,*/
/*.btn-5:after{*/
/*    content:'';*/
/*    position:absolute;*/
/*    top:0;*/
/*    right:0;*/
/*    height:2px;*/
/*    width:0;*/
/*    background: #f0094a;*/
/*    box-shadow:*/
/*            -1px -1px 5px 0px #fff,*/
/*            7px 7px 20px 0px #0003,*/
/*            4px 4px 5px 0px #0002;*/
/*    transition:400ms ease all;*/
/*}*/
/*.btn-5:after{*/
/*    right:inherit;*/
/*    top:inherit;*/
/*    left:0;*/
/*    bottom:0;*/
/*}*/
/*.btn-5:hover:before,*/
/*.btn-5:hover:after{*/
/*    width:50px;*/
/*    transition:800ms ease all;*/
/*}*/



@media screen and (max-width: 480px) {

    .hero__content {
        position: relative;
        left: -27px;
        z-index: 10;

        /*background-color: red;*/
    }

    .hero__button {
        background: black;
        white-space: nowrap;
        outline: none;
        border: none;
        min-width: 100px;
        cursor: pointer;
        text-decoration: none;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 42px;
        color: #fff;
        font-size: 14px;

        max-width: 110px
    }

    .hero__content h1 {
        color: #ffffff;
        font-size: clamp(1rem, 8vw, 2rem);
        font-weight: 500;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        text-align: left;
        margin-bottom: 0.8rem;
        line-height: initial;
    }

    .hero__content p {
        margin-bottom: 1.2rem;
        text-align: left;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
        line-height: initial;
    }

}

