.nav {
    /*height: 80px;*/
    display: flex;
    justify-content: space-between;
    z-index: 500;

    /*padding: 1rem 2rem;*/
    padding: 30px 30px;


    position: fixed;
    width: 100%;
    overflow: hidden;
    background: transparent;

    /*background-color: #600606;*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
    /*transition: 0.6s;*/

    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.nav__black {
    padding: 0px 20px;

    /*box-shadow: 0 05px 15px rgba(0, 0, 0, .4);*/
    background: linear-gradient(180deg, rgb(19, 18, 18) 9%, rgba(0,0,0,0.8029586834733894) 89%);

}

.logo {
    /*background-color: cyan;*/
}

.navLink {
    color: #fff;
    display: flex;
    align-items: center;
    /*padding: 0 1rem;*/
    padding: 0 1vw;


    height: 100%;
    cursor: pointer;
    text-decoration: none;

}

.black__police {
    /*width: 12vw;*/
    width: 11vw;
    height: 12vh;
    object-fit: cover;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*margin-left: 48px;*/
    margin-left: 10vw;

    /*background: chartreuse;*/
}

.menu__bars {
    display: none;
}

.navBtn {
    display: flex;
    align-items: center;
    /*margin-right: 140px;*/
    margin-right: 10vw;

}

.navBtn__item {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
}

.navBtn__item:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
}

.navBtn__item:focus {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
}

@media screen and (max-width: 900px) {
    .black__police {
        width: 14vw;
        height: 10vh;
        object-fit: cover;

    }
}

@media only screen
and (min-device-width: 760px)
and (max-device-width: 1030px) {

    /* For iPad, iPad Pro */

    .black__police {
        width: 12vw;
        height: 8vh;
        object-fit: cover;

    }

    .navLink {
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
        height: 100%;
        cursor: pointer;
        text-decoration: none;

    }

    .navMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*margin-right: -48px;*/

        /*margin-left: 48px;*/
        margin-left: 5vw;

        /*background: chartreuse;*/
    }

    .navBtn {
        display: flex;
        align-items: center;
        margin-right: 2vw;
    }

    .navBtn__item {
        color: #ffffff;
        border: 1px solid #ffffff;
        background: none;
    }

    .navBtn__item:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
        background: none;
    }

    .navBtn__item:focus {
        color: #ffffff;
        border: 1px solid #ffffff;
        background: none;
    }
}

@media screen and (max-width: 568px) {

    .nav {
        height: 70px;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        z-index: 100;
        position: fixed;
        width: 100%;
        /*box-shadow: 0 05px 15px rgba(0, 0, 0, .4);*/
        overflow: hidden;
        /*background: linear-gradient(180deg, rgba(47,33,41,1) 49%, rgba(0,0,0,0.8029586834733894) 95%);*/
        /*background: linear-gradient(180deg, rgb(19, 18, 18) 9%, rgba(0,0,0,0.8029586834733894) 89%);*/

        transition-timing-function: ease-in;
        transition: all 0.5s;
    }

    .nav__black {
        box-shadow: 0 05px 15px rgba(0, 0, 0, .4);
        background: linear-gradient(180deg, rgb(19, 18, 18) 9%, rgba(0,0,0,0.8029586834733894) 89%);

    }

    .navMenu {
        display: none;
    }

    .menu__bars {
        display: block;

        background-size: contain;
        height: 30px;
        width: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 25px;
        color: white;
    }

    .navBtn {
        display: none
    }

    .logo {
        /*!*background-color: #65853a;*! For test*/
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .black__police {
        width: 30vw;
        height: 10vh;
        object-fit: cover;

        position: absolute;
        top: 0px;
        left: 7px;
        /*background-color: #6b5414;*/
    }
}

