
.news__text {
    padding-bottom: 30px;
}

.news__text h3 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 22px;
    /*color: #111;*/
    color: #000000;
    font-family: 'Cinzel', serif;
}

.news__text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    line-height: 1.0;
}

.news {
    padding-top: 50px;
    padding-bottom: 50px;

    padding-right: 15vw;
    padding-left: 15vw;

    /*height: 40vh;*/

    /*background: darkred;*/

}

.news__infos {
    /*background: #efc875;*/
    /*padding-left: 15vw;*/
    padding-bottom: 50px;
    padding-right: 4vw;

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

}
/*color: #222;*/
/*font-family: "Helvetica Neue";*/
/*font-size: 14px;*/

.card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: all .3s;
    background: #FAFAFA;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.5);
}

.card .picture {
    /*position: absolute;*/
    /*width: 100%;*/
}

.card .picture .inner {
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    position: relative;
}

.card .picture .background {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.card .picture .thumbnail {
    width: 100%;
}

/*Very important*/
.card:hover .picture .background {
    transform: translateY(-50px) scale(1.2, 1.2);
}

.card .picture .mask {
    position: absolute;
    top: 5.6%;
    left: 30%;
    width: 70%;
    height: 88%;
    background: black;
    opacity: 0.0;
    transition: all .3s;
}

.card:hover .picture .mask {
    opacity: 0.4;
}

.card .content {
    /*padding-top: 60%;*/
}

.card .content .inner {
    height: 100%;
    padding: 15px 20px 50px 20px;
    position: relative;
    background: #FAFAFA;
    transition: all .3s;
}

/*Very important*/
.card:hover .content .inner {
    transform: translateY(-105px);
}

.card .content .label {
    position: absolute;
    padding: 7px 14px;
    background: #EE5C35;
    color: #FEFEFE;
    font-size: 14px;
    bottom: 100%;
    left: 0;
    text-transform: uppercase;
}

.card .content .title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.card .content .subtitle {
    font-size: 19px;
    color: #EE5C35;
    font-weight: normal;
    margin: 10px 0;
    opacity: 0.95;
}

/*Very important*/
.card .content .text {
    /*background: #c4afbc;*/

    width: 100%;
    right: 0;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    opacity: 0;
    line-height: 1.7;
    transition: all .1s;
    position: absolute;
}

/*Very important*/
.card:hover .content .text {
    opacity: 1;
    transition: all .2s .1s;
}

.card .fixed {
    position: absolute;
    bottom: 30px;
    padding: 15px 20px;
}

.card .fixed .links {
    color: #999;
    font-size: 14px;
    /*margin-bottom: 0;*/
}

.card .fixed .links .link {
    margin-right: 10px;
}



.news__ig {
    /*background: #30c444;*/

    /*padding-right: 15vw;*/
    padding-bottom: 50px;
    padding-left: 4vw;
}

