.videos__wrapper {
    background-image: url('./assets/vidz__1.jpeg');
    background-size: cover;
    background-position:center center;

    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);

    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videos__text {
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    color: #000000;
    font-family: 'Cinzel', serif;
}

.videos__typography {

    width: 47vw;
    max-width: 670px;
    /*width: 47vw;*/
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*background-color: #ffffff;*/

    font-size: 43px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    color: #000000;
    font-family: 'Cinzel', serif;
}

.play__icon {
    /*background-color: darkred;*/

    font-size: 70px;
    color: #f80000;
}

.videosList__wrapper {
    background-color: #000000;

    padding-left: 12vw;
    padding-right: 12vw;

    padding-top: 2vw;
    padding-bottom: 2vw;

    width: 100vw;
    height: 55vh;

    /*transition: .4s;*/
}

.videosList__items {

    /*background-color: blue;*/


    display: flex;
    justify-content: center;

    /*padding-top: 30px;*/
}


.items {
    padding: 10px;
}

.items__link {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
}

.items__link:hover {
    padding-left: 30px;
    text-decoration: none;
    color: #991430;
    /*border-left: 2px solid #991430;*/
}

.videosList__youtube {
    /*background-color: #24ac1a;*/
}

@media screen and (max-width: 568px) {
    .videos__typography {

        width: 96vw;
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /*background-color: chocolate;*/

        font-size: 24px;
        font-weight: bold;
        margin: 10px 0 30px 0;
        letter-spacing: 5px;
        color: #000000;
        font-family: 'Cinzel', serif;
    }

    .play__icon {
        /*background-color: darkred;*/

        font-size: 50px;
        color: #f80000;
    }
}

@media only screen
and (min-device-width: 570px)
and (max-device-width: 995px) {

    .videos__typography {

        width: 80vw;
        /*max-width: 600px;*/
        height: 10vh;

        /*background-color: #d2691e;*/

        font-size: 35px;
        font-weight: bold;
        margin: 10px 0 30px 0;
        letter-spacing: 5px;
        color: #000000;
        font-family: 'Cinzel', serif;
    }

    .play__icon {
        /*background-color: darkred;*/

        font-size: 65px;
        color: #f80000;
    }
}

@media only screen
and (min-device-width: 1000px)
and (max-device-width: 1300px) {
    .videos__typography {

        width: 50vw;
        /*max-width: 600px;*/
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;

        /*background-color: #d2691e;*/

        font-size: 40px;
        font-weight: bold;
        margin: 10px 0 30px 0;
        letter-spacing: 5px;
        color: #000000;
        font-family: 'Cinzel', serif;
    }

    .play__icon {
        /*background-color: darkred;*/

        font-size: 60px;
        color: #f80000;
    }
}
