.videos__wrapper {
    background-image: url('./assets/vidz__1.jpeg');
    background-size: cover;
    background-position:center center;

    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);

    width: 100vw;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.videos__text {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    color: #000000;
    font-family: 'Cinzel', serif;
}

.play__icon {
    font-size: 45px;
    color: #f80000;
}

.videosList__wrapper {
    background-color: #000000;

    padding-left: 12vw;
    padding-right: 12vw;

    padding-top: 2vw;
    padding-bottom: 2vw;

    width: 100vw;
    height: 55vh;
}

.videosList__items {

    /*background-color: blue;*/


    display: flex;
    justify-content: center;

    /*padding-top: 30px;*/
}


.items {
    padding: 10px;
}

.items__link {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
}

.items__link:hover {
    padding-left: 30px;
    text-decoration: none;
    color: #991430;
    /*border-left: 2px solid #991430;*/
}

.videosList__youtube {
    /*background-color: #24ac1a;*/
}